.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    padding: 1rem;
    margin: 1.5rem 0rem;
    box-shadow: 1px -1px 11px 1px  rgb(16, 44, 99);
    border-radius: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
.list-row:hover{
    background-color: var(--darkgrey);
}
.list-row td{
    text-align: left !important;
    width:18%;
  
}

.td-chip-flex{
    min-width: 10rem;
}
.td-img{
    width:3rem !important;
}
.td-name-flex{
    min-width: 100px;
}
.td-vol-cap {
    display: none;
}
.star-icon{
    width: 2rem;
    height: 4rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.star-icon .star{
    /* position:absolute;
    left:10rem;
    top: 1rem; */
    /* bottom: 0; */
}

@media only screen and (max-width:900px){
    .td-mkt-cap{
        display: none;
    }
    .td-vol-cap{
        display: block;
       
    }
}

@media only screen and (max-width:880px) {
    /* .list-row{
        gap:0.3rem;
        padding:0rem;
    }
    .td-mkt-cap{
        display: none;
    } 
    .td-name-flex{
        min-width: 0px;
    }
    .td-chip-flex{
        min-width:0rem;
    }
    .chip-coin{
        display: none !important;
    }
    .percentage-txt{
        font-size: 50%;
    } */
    /* .td-img{
        width: min-content;
    }
    .td-img img{
        width: 2rem;
        height: 2rem;
    }
    .td-name-flex{
        font-size: 50%;
    }
    .name-txt,
    .td-vol-cap{
        font-size: 70%; */
    /* } */
}


    @media only screen and (max-width:515px){
   .list-row{
    font-size: 45%;
   }
} 
